.checklist{
    padding:20px;
   
}

.header-checklist{
    height:50px;
    width:auto;
    background:yellow;
    border:groove;
  
}

.header-checklist1 {
    height: 50px;
    width: auto;
    background: green;
    border: groove;
}

.header-checklist2 {
    height: 50px;
    width: auto;
    background: blue;
    border: groove;
}
.header-checklist3 {
    height: 50px;
    width: auto;
    background: grey;
    border: groove;
}
.header-checklist4 {
    height: 50px;
    width: auto;
    background: blue;
    border: groove;
}
.header-checklist5 {
    height: 50px;
    width: auto;
    background: green;
    border: groove;
}


